/* ---------------- NAVBAR ---------------- */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.nav-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}

.nav-links {
  display: flex;
  gap: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.nav-links a:hover {
  color: #666;
  
}

.nav-icons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-icons a:hover {
  color:#f43f5e;
}

.icon-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #ddd;
  background: white;
  color: black;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  cursor: pointer;
}

.dropdown {
  position: relative;
}

.dropdown .icon-btnn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #ddd;
  background: white;
  color: black;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  cursor: pointer;
  margin-top: auto;
}

.dropdown-menu {
  position: absolute;
  top: 50px;
  right: 0;
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  min-width: 140px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  z-index: 1000;
}

.dropdown-item {
  display: block;
  padding: 10px;
  width: 100%;
  font-weight: 600;
  text-align: left;
  background: none;
  border: none;
  color: black;
  font-size: 14px;
  cursor: pointer;
}

.dropdown-menu a:hover {
  color:blue; 
}

.dropdown-itemmm {
  display: block;
  padding: 10px;
  color: red;
  width: 100%;
  text-align: left;
  background: none;
  font-weight: 600;
  border: none;
  font-size: 14px;
  cursor: pointer;
}

/* ---------------- APPLICATION FORM ---------------- */
.application-container {
  max-width: 600px;
  margin: 40px auto;
  padding: 25px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.application-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form-group label {
  font-size: 15px;
  margin-bottom: 6px;
}

.form-group input,
.form-group textarea {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.submit-btn {
  width: 100%;
  padding: 12px;
  background: black;
  color: white;
  border-radius: 8px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.submit-btn:hover {
  background: #333;
}

/* ---------------- RESPONSIVE ---------------- */
@media (max-width: 640px) {
  .nav-links {
    gap: 16px;
  }

  .application-container {
    margin: 20px;
  }
}
